.avatar {
  border-radius: 999px;
  background: #efefef;
  display: grid;
  place-items: center;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.10);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    font-weight: 800;
    font-size: 13px;
    color: rgba(0,0,0,0.7);
  }
}
